<div style="display: flex; align-items: center;">
  <h2 style="margin-right:10px ;">Search Result</h2>
  <button (click)="onBackButton()">Back</button>
</div>

<table >
    <ng-container *ngIf="reviews.length > 0; else noResults">
      <tr *ngFor="let review of reviews" class="article">
        <td><a href="{{ review.reviewURL }}" target="_blank">{{ review.title }}</a></td>
        <td>{{ review.rating }}</td>
        <td>{{ review.headline }}</td>
        <td>{{ review.summary }}</td>
        <td><img [src]="review.image" alt="{{ review.title }}" width="100"></td>
        <td><button (click)="onCommentClick(review)">Comment</button></td>
      </tr>
    </ng-container>
    <ng-template #noResults>
      <tr>
        <td>Your search produces no result.</td>
      </tr>
    </ng-template>
</table>


