  <div>
    <h1>Search Movie Reviews</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <table>
        <tr>
          <td><label for="searchInput">Movie name:</label></td>
          <td><input id="searchInput" type="text" size="30" [(ngModel)]="searchQuery" (input)="onSearchInput()" formControlName="searchQuery"></td>
        </tr>
        <tr>
          <td></td>
          <td align="right"><button type="submit" [disabled]="isSearchButtonDisabled" [routerLink]="['/list']">Search</button></td>
        </tr>
      </table>
    </form>
  </div>
  
  

